
/* ! basestyle */

body{font-family:'Roboto',sans-serif;
font-size:16px;
color: #2e282a;
background-color: #E4DFDA;}

h1{
  padding-left: var(--padding-default);
  font-size: 56px;
  margin-bottom: 30px;
}


@keyframes slidy {
0% { left: 0%; }
20% { left: 0%; }
25% { left: -100%; }
45% { left: -100%; }
50% { left: -200%; }
70% { left: -200%; }
75% { left: -300%; }
95% { left: -300%; }
100% { left: -400%; }
}


div#slider { overflow: hidden; }
div#slider figure img { width: 20%; float: left; }
div#slider figure {
  position: relative;
  width: 500%;
  margin: 0;
  left: 0;
  text-align: left;
  font-size: 0;
  animation: 30s slidy infinite;
}


h2{
  /* padding: 20px; */
  font-size: 28px;
  margin: auto;
  padding-left: var(--padding-default);
}

/* h3{
  font-size: 15px;
  margin: auto;
  font-family: 'kallisto', sans-serif;
  font-weight: 600;
  font-style: normal;
  color: white;
} */

hr{
  margin-top: 20px;
  margin-bottom: 20px;
  border-top: 3px solid #2e282a;}

.big-text{font-size: 70px;
  font-weight: 900;
  font-family: 'kallisto', sans-serif;
  font-weight: 1000;
  font-style: normal;
  filter: opacity(0.5);
}

.med-text{font-size: 40px;}

.normal-text{font-size: 20px;}

.small-text{font-size: 14px;}

.intro-text{
    filter: opacity(0.5);
  font-family: 'kallisto', sans-serif;
  font-weight: 500;
  font-style: normal;
  text-transform: uppercase;
  font-size: 16px;
  margin-bottom: 10px;}

.sub {  filter: opacity(0.5);
text-transform: uppercase; font-size: 20px;font-weight: bold;
}
/* ! basestyle */


/* ! nav start */
.header {
    z-index: 2;
    width: 100%;
    position: fixed;
    padding: 30px;
    display: flex;
    background-color: #E4DFDA;
    box-shadow: 0px 3px 10px #00000029;

    align-items: center;
}
.ham{
  display: none;
}

}
.logo{
  width: 50%;
}
.logo img{
  width: 230px;
  margin-left: 30px;
}
.menu{
      z-index: 1;
  width: 100%;}

  .menu ul{
      width: 50%;
      list-style: none;
  }

.menu li{    z-index: 1;
  display: inline-block;

}
.menu li a{
  font-family: 'kallisto', sans-serif;
  font-weight: 1000;
  font-style: normal;
  display:block;
  /* padding-top: 15px; */
  margin-inline: 20px;
  text-decoration: none;
color: #2e282a;
}
.menu li a:hover{
text-decoration: underline;
cursor: pointer;
}
/* ! nav end */

/* about start */
.about{
  margin-top: 65px;
  margin-bottom: 50px;
  margin-inline: 5vw;

}

.about h1{  font-family: 'kallisto', sans-serif;
  font-weight: 1000;
  font-style: normal;}

.about p{
  font-family:'Roboto',sans-serif;font-size:20px
  margin-top: 10px;
  line-height:1.6;}
/* about end */


.panel {
  margin-bottom: 50px;
    background: #2e282a;
    padding-inline: 5vw;
    padding-block: 20px;
}
.col1 {
    width: 100%;
    margin-bottom: 35px;
}
.col2 {

    width: 100%;
    margin-bottom: -40px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.col1 h1{
  color: #E4DFDA;
  font-family: 'kallisto', sans-serif;
    font-weight: 1000;
    font-style: normal;
}
.col1 p{
  line-height: 1.3;
  color: #E4DFDA
}
.col2 h1{
  color: #E4DFDA;
  font-family: 'kallisto', sans-serif;
    font-weight: 1000;
    font-style: normal;
}
.col2 p{
  color: #E4DFDA
}
.dot {
    height: 250px;
    width: 100%;
    background: blue;
    text-align: center;
    display: inline-block;
    /* margin-right: 5vw; */
    margin-bottom: 40px;
    /* margin: 20px; */
}
.dot img{
  width: 100%;
  height: 100%;
    object-fit: cover;
}
/* about end */
/* ! hero start */
.hero {
    width: 100%;
    height: 715px;
    /* background: #4754; */
    display: flex;
    align-items: center;
    background: linear-gradient(0deg, rgba(0,0,0,0.5), rgba(0,0,0,0.09)),
  url('pietra2.gif')repeat center;
    background-size: contain;
    filter: invert(1);
}
.hero__content {
    width: 100%;
    color: white;
    display: flex;
    /* margin-top: 168px; */
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: center;
}

/* ! hero end */



/* Progettistart */
.progetti{

  margin-bottom: 50px;
}

.progetti h1{
  font-family: 'kallisto', sans-serif;
  font-weight: 1000;
  font-style: normal;
  margin-inline:5vw;
}
.carousel-item{
  height: 500px;
  border-radius:4px 4px 4px 4px;
}
/* progetti end */

.materiali h1{
    font-family: 'kallisto', sans-serif;
    font-weight: 1000;
    font-style: normal;
    padding-left: var(--padding-default);
    font-size: 48px;
    margin-bottom: 20px;
}
.cards-list {
    z-index: 0;
    width: 100%;
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    flex-wrap: wrap;
}

.card {
  border: 0;
    margin: 30px auto;
    width: 250px;
    height: 250px;
    /* box-shadow: 5px 5px 30px 7px rgba(0,0,0,0.25), -5px -5px 30px 7px rgba(0,0,0,0.22); */
    cursor: pointer;
    transition: 0.4s;
}
.card .card_image {
  width: inherit;
  height: inherit;
}
.card p {
    /* width: 100%; */
    display: flex;
    /* height: 100%; */
    justify-content: center;
}
.card .card_image img {
  width: inherit;
  height: inherit;
  object-fit: cover;
}

.card .card_title {
  text-align: center;
  border-radius: 0px 0px 40px 40px;
  color: #2e282a;
  font-family: 'kallisto', sans-serif;
  font-weight: 1000;
  font-style: normal;
  font-size: 20px;
  margin-top: -80px;
  height: 40px;
  text-shadow: 0px  0px 4px #E4DFDA;
}

.card:hover {
  filter: invert();
  transform: scale(1.1, 1.1);

}

.title-white {
  color: white;
}

.title-black {
  color: black;
}


@media all and (max-width: 500px) {
  .card-list {
    /* On small screens, we are no longer using row direction but column */
    flex-direction: column;
  }
}
/* preventivostart */
.preventivo2{

  margin-top: 50px;
    margin-bottom: 130px;
    margin-inline: 5vw;
}
.preventivo2 h1{
  font-family: 'kallisto', sans-serif;
  font-weight: 1000;
  font-style: normal;
  font-size: 48px;
  margin-bottom: 15px;
}

.preventivo2 p{
  font-weight:300;
  font-size: 20px;
  margin-bottom: 35px;
}

input.comm.c {
  height: 150px;
}

.preventivo2 label{
  font-size: 14px;
  margin-bottom:10px;
  font-family: 'kallisto', sans-serif;
  font-weight: 1000;
  font-style: normal;
}
  .preventivo2 input{
    width: 100%;
    height: 30px;
    margin-bottom: 15px;
    background-color: #eaeaea;
  }
  .preventivo2 button {
      /* display: flex; */
      float: right;
      padding: 20px;
      background: #2e282a;
      color: #eaeaea;
      font-family: 'kallisto', sans-serif;
  }

  .comm{
    height: 100px;
  }
/* preventivoend */

/* contatti start */
.contatti{
  margin-top: 50px;
  margin-bottom: 50px;
  margin-inline: 5vw;
}

.contatti h1{
  font-family: 'kallisto', sans-serif;
  font-weight: 1000;
  font-style: normal;
}
.principale{
  margin-top: 30px;
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
  justify-content: space-evenly;}


/* contatti end */


/* ! footerstart */
.footer{
  width: 100%;
  position: flex;
  padding: 20px;
  top: 0;
  left: 0;
  display: flex;
  background #E4DFDA; 0% 0% no-repeat padding-box;
  box-shadow: 0px 0px 10px #00000029;
  opacity: 0.9;
}

.footer_menu{
  width: 100%;
}

.footer_menu li{
  display: inline-block;
  margin: 0 10 0 10;
  padding-left: 40px;
  padding-right: 40px;
}

.footer_menu li a{
  font-family: 'kallisto', sans-serif;
  font-weight: 500;
  font-style: normal;
  display:block; ;
  text-decoration: none;
  color: #2e282a;
}

.footer_menu li a:hover{
  font-family: 'kallisto', sans-serif;
  font-weight: 500;
  font-style: normal;
  text-decoration: underline;
  cursor: pointer;
  background-color: #2e282a;
  color: #e6e5e3;}

  .footer_menu {
      width: 100%;
      display: flex;
      justify-content: center;
  }
.footer2{
  background-color: #2e282a;
  padding: 10px;
  text-align: center;
  justify-content: center;
  color: #e7e7e7bd;
  font-family: 'kallisto', sans-serif;
  font-weight: 1000;
  font-style: normal;
}

.f {
  margin-top: 10px;
    border: solid;
    width: 100%;
    padding: 30px;
    /* padding-bottom: 50px; */
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  font-size: small;
  line-height: 1.3;
}

.c1 {
    width: 500px;
    /* text-align: left; */
    padding: 10px;
}
.c2 {
    width: 500px;
    /* text-align: left; */
    padding: 10px;
}
.metro{
  padding: 20px;
}

/* ! footerend */




@media screen and (max-width: 992px) {


  h1 {
      /* padding-left: var(--padding-default); */
      font-size: 45px;
      margin-bottom: 10px;
  }
  .header {
      z-index: 2;
      width: 100%;
      position: fixed;
      padding: 20px;
      /* top: 0; */
      /* left: 0; */
      display: flex;
      background-color: #E4DFDA;
      box-shadow: 0px 3px 10px #00000029;
      /* align-content: center; */
      /* flex-direction: row; */
      /* justify-content: space-evenly; */
      align-items: center;
  }

  .ham{
    display: block;
    width: 50px;
    height: 30px;
    /* border:1px solid white; */
    top: 36px;
    right: 30px;
    position: absolute;
    z-index: 4
  }
.ham span{
  background: #2e282a; height: 4px;width: 100%; display: block; margin-bottom: 5px;
}

.logo img {
    margin-left: 5px;
}
.big-text{
  font-size: 50px;
  margin-bottom:15px
}

.about {
    margin-top: 20px;
    margin-bottom: 25px;
}

.footer_menu {
    width: 100%;
    display: flex;
    justify-content: space-around;
}
.footer_menu li{
  display: inline-block;

  padding-left: 0px;
  padding-right: 0px;
}


.menu {
    transition: all 1s cubic-bezier(.215, .61, .355, 1);
    display: flex;
    position: absolute;
    top: 0;
    left: 100%;
    background: #2e282aba;
    height: 100vh;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}
.menu--open{left: 50%;}

.menu li {
    display: block;
    margin-bottom: 40px;
}
.menu li a {
    font-family: 'kallisto', sans-serif;
    font-weight: 800;
    font-style: normal;
    display: block;
    /* padding-top: 15px; */
    margin-inline: 20px;
    text-decoration: none;
    color: #e4dfda;
    font-size: 25px;
}

.about p {
    font-family: 'Roboto',sans-serif;
    font-size: 16px
  margin-top: 10px;
    line-height: 1.3;
}

.preventivo p{
  font-weight:300;
  font-size: 16px;
  margin-bottom: 20px;
  line-height: 1.3;
}
hr{
  margin-top: 10px;
  margin-bottom: 10px;
  border-top: 3px solid #2e282a;
}

.about h2{
  font-size:20px;
}

.carousel-item {
height: 100%;
    border-radius: 4px 4px 4px 4px;
}
.progetti{
  margin-bottom: 25px;
}
.preventivo {
    margin-top: 0;
    margin-bottom: 110px;
    margin-inline: 5vw;
}
}



@media screen and (max-width: 332px) {
.big-text{
  font-size: 44px;
}
}







.center {
    /* height: 49vh; */
    /* gap: 45px; */
    /* width: 100%; */
    display: flex;
    align-items: center;
        margin-bottom: 2em;
}

/* End Non-Essential  */

.property-card
{
  height:18em;
  width:14em;
  display:-webkit-box;
  display:-ms-flexbox;
  display:flex;
  -webkit-box-orient:vertical;
  -webkit-box-direction:normal;
  -ms-flex-direction:column;
  flex-direction:column;
  position:relative;
  -webkit-transition:all 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
  -o-transition:all 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
  transition:all 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
  border-radius:16px;
  overflow:hidden;
  -webkit-box-shadow:  15px 15px 27px #e1e1e3, -15px -15px 27px #ffffff;
    box-shadow: 15px 15px 27px #1814140d, -15px -15px 27px #1814140d;
}
/* ^-- The margin bottom is necessary for the drop shadow otherwise it gets clipped in certain cases. */

/* Top Half of card, image. */

.property-image1
{
  height:6em;
  width:14em;
  padding:1em 2em;
  position:Absolute;
  top:0px;
  -webkit-transition:all 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
  -o-transition:all 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
  transition:all 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
  background-image:url('breccia irpina.jpeg');
  background-size:cover;
  background-repeat:no-repeat;
}
.property-image2
{
  height:6em;
  width:14em;
  padding:1em 2em;
  position:Absolute;
  top:0px;
  -webkit-transition:all 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
  -o-transition:all 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
  transition:all 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
  background-image:url('breccia irpina2.jpeg');
  background-size:cover;
  background-repeat:no-repeat;
}

.property-image3
{
  height:6em;
  width:14em;
  padding:1em 2em;
  position:Absolute;
  top:0px;
  -webkit-transition:all 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
  -o-transition:all 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
  transition:all 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
  background-image:url('breccia irpina3.jpeg');
  background-size:cover;
  background-repeat:no-repeat;
}

/* Bottom Card Section */

.property-description
{
  color: #2e282a;
  background-color: #eaeaea;
  height:12em;
  width:14em;
  position:absolute;
  bottom:0em;
  -webkit-transition:all 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
  -o-transition:all 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
  transition:all 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
  padding: 2em 1em;
  text-align:center;
}

/* Social Icons */

.property-social-icons
{
  width:1em;
  height:1em;
  background-color:#2e282a;
  position:absolute;
  bottom:1em;
  left:1em;
  -webkit-transition:all 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
  -o-transition:all 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
  transition:all 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
}

/* Property Cards Hover States */

.property-card:hover .property-description
{
  height:0em;
  padding:0px 1em;
}
.property-card:hover .property-image1
{
  height:18em;
}

.property-card:hover .property-image2
{
  height:18em;
}

.property-card:hover .property-image3
{
  height:18em;
}
.property-card:hover .property-social-icons
{
  background-color:white;
}

.property-card:hover .property-social-icons:hover
{
  background-color:blue;
  cursor:pointer;
}

.cardp {
  margin-block:50px;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}


.property-description h3{

    font-family: 'kallisto', sans-serif;
    font-weight: 600;
    font-style: bold;
    font-size:20px;
    margin-bottom:5px
}
.property-description p{

    font-family: 'Roboto', sans-serif;
    font-style: bold;
    font-size:16px
}


.testobianco p{
  color:#eaeaea;
}



*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}
